.square {
  border: 1px solid #999;
  float: left;
  font-size: 4rem;
  font-weight: bold;
  line-height: 34px;
  color: #3F72AF;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square:focus {
  outline: none;
}

.square:hover {
  cursor: pointer;
}