/* body {
  display: flex;
  justify-content: center;
  background-color: #F9F7F7;
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
} */

.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  background-color: #F7D760;
}

.game-board {
  padding: 90px 0;
}

.game-info {
  padding-top: 20px;
}

li>.button {
  background: none;
  border: none;
  list-style: none;
}

.player {
  padding-left: 20px;
}

.button {
  height: 30px;
  width: 100%;
  border: none;
  background: #70472A;
}